.logo {
    background-image: url('/static/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 90px;
    height: 90px;
    display: inline-block;
    position:relative;
    bottom: -12px;
}
.logotext {
    margin-left: -15px;
    font-family:bicubik,"Lucida Console", Monaco, monospace;
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    letter-spacing: 7px;

}
.logorow {
    min-height: 3.5em;
    position:relative;
    margin: auto;
    @media screen and (min-width: $sdevW) {
        padding-bottom: 15px;
    }
}



.footer { 
    color: #FFFFFF; 
    position: absolute; 
    bottom:0px; 
    width: 100%; 
    left: 0;
}

.footerwrap {
    @extend .wtxt;
    font: 18px $footerwff;
    padding: 10px;
    @media screen and (max-width: $smdevW + 1) {
        padding: 0 10px;
    }
    position:relative;
    margin: auto;
    //min-height: 100%;
    a h1, a h2, h1 a, h2 a{
        &:hover:before {
          content:"o"; //link symbol
          font: 1em WebSymbolsLigaRegular;
          text-transform:none;
          position:absolute;
          left: -1em;
          line-height: 1em;
        }
    }
    h1, h2 {
        @extend .rtxt;
    }
}
a {
   text-decoration: none;
}
    p a:after {
      //content:"\00a0@"; //going out link
      content:"@"; //going out link
      font: 15px WebSymbolsLigaRegular;
      text-transform:none;
      display:inline;
      margin-left: 2px;
    }
.fblock {
    display: inline-block; 
    vertical-align: top;
    padding-right: 60px;
    padding-bottom: 20px;
}

.footmenu {
    display: inline-block; 
    margin-left:10px;
}
.footmenuitem {
    font: 15px $footmenuitemff;
    padding-top: 5px;
    a {
        color:inherit;
        text-decoration: none;
        position: relative;
    }
}
.footmenuheader {
    font: 18px $footmenuheadff;
}
.hg2 {
    width: 730px;
    height: 290px;
    right: 0;
    
    span {
        width: 738px;
    }
}
.hg, .hg2{
    position: absolute;
    bottom: 0px;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    z-index: -1;
}
.hg, .hg2 {
    span  { 
        display: block; 
        margin-left: -4px;
    }
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.footer-holder { 
    height: 200px;

    @media screen and (max-width: $mdevW)
        and (orientation: landscape) {

        height: 200px;
}

}

@media screen and (min-width: 1400px) {
    .footerwrap {
        width: 80%;
    }

    .hg, .hg2 {
        width: 730px;
        height: 290px;
        right: 0;
        span {
            width: 738px;
        }
    }
}
@media screen and (min-width: $midDevW + 1) and (max-width: $bigDevW) {
    .footerwrap {
        width: 90%
    }
    .logorow {
        margin-top: 0;
        //width: 90%;
        &.nologo {
            margin-top: -2em;
        }
    }
    .hg, .hg2 {
        width: 584px;
        height: 248px;
        right: 0; //5%
    
        span {
            width: 592px;
        }
    }
}
@media screen and (max-width: $midDevW) {
    .hg, .hg2 {
        width: 365px;
        height: 155px;
        right: 0;
    
        span {
            width: 373px;
        }
    }
}
/*
@media screen and (min-width: $mbdevW) and (max-width: $midDevW) {
    .mainmenu {
        position: relative;
        margin-top: 30px;
    }
    .logorow.nologo {
        //margin-top: -2em;
    }
}*/
@media screen and (min-width: $mdevW) and (max-width: $mbdevW) {
        &.nologo {
            margin-top: 1em;
        }
}
//@media screen and (max-width: $mbdevW) {
@media screen and (max-width: $midDevW) {
    .logorow {
        text-align: center;
        margin-top: 1em;
        &>a {
            width: 100%;
            text-align: center;
            margin-bottom: 1em;
        }
    }
    .logo{
        text-align:center;
        display:none;
    }
}
@media screen and (max-width: $sdevW) {
    .logorow {
        margin-top: 0;
    }
}
@media screen and (max-width: $mdevW) {
    .hg2 {display: none;}
    .hg > span > img {
        width:50%;
        height:auto;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .footer-holder {
        height: 320px;
    }
    .fblock {
        width:50%; 
        padding-right:0px;
    }
}
