.logorow {
    &>a, .mainmenu {
        display: inline-block;
        box-sizing: border-box;
    }
    @media screen and (min-width: $midDevW) {
        .mainmenu {
            margin-left: 3%;
        }
    }
    &>.logowrap {
        display: inline-block;
        text-align: right;
        @media screen and (max-width:$midDevW) {
            text-align: center;
        }
        width: 50%;
        a {
            outline: none;
        }
        @media screen and (max-width: $sdevW){
            display: none;
        }
    }
    @media screen and (max-width: $sdevW){
        .clicker {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
    }
}
.logorow .mainmenu {
    @extend .wtxt;
    font: $mmfont;
    letter-spacing: 1px;
    &>.root, &>.p-menu-ico {
        display: none;
    } 
    .mmitem .logout .ico, .mmitem.peer {
        display: none;
    }

    @media screen and (max-width: $midDevW) and (min-width: $mbdevW){
        //margin-top: 30px;
        display: block;
        padding: 0;
    }
    @media screen and (max-width: $sdevW){
        width: 100%;
        text-align: center;
        margin: 3px 0;
        .mmitem {
            display: inline-block;
            position: relative;
            margin: auto;
            margin-top: 12px;
            font-size: 30px;
            &.peer {
                display: inline-block;
                text-transform: none;
                overflow: hidden;
                max-width: 62%;
                &>a {
                    text-transform: none;
                }
            }
            &>a {
                display: none;
                &.selected, &.logout {
                    display: inline;
                }
            }
            &.logout {
                min-width: 1em;
                display: inline-block;
                float: right;
                margin: 10px;
                margin-bottom: 0;
                z-index: 2;
                .text {
                    display: none;
                }
                .ico {
                    display: inline;
                    z-index: 2;
                }
            }
        }
        &>.p-menu-ico {
            display: inline;
            float: left;
            width: 1em;
            margin: 0.5em;
        }
    }
}



.mmitem {
    &:last-child {
        margin-right: 0;
    }
    margin-right: 2em;
    position: relative;
    a  {
        &.selected {
            @extend .rtxt
        }
        color:inherit;
        text-decoration: none;
        position: relative;
        outline: none;
        text-transform: uppercase;
        display:inline-block;
    
        &:after {
            display:block;
            padding: 5px 5px 0px 5px;
            position:absolute;
            width:100%;
            margin-left: -5px;
            content: '';
            border-bottom: solid 3px $mred;
            transform: scaleX(0.0);
            transition: transform 250ms ease-in-out;

        }
        &.logout:after {
            display: none;
        }
        &:hover:after {
                transform: scaleX(1.0);
        }
    }
    &.logout .ico::after{
        font: 30px WebSymbolsLigaRegular;
        content: "`"; // logout
    }
}

@media screen and (min-width: $midDevW + 1) and (max-width: $bigDevW) {
    .mmitem {
        margin-right: 1em;
    }
}

@media screen and (max-width: $midDevW){
    .mmitem{
        margin-top: 1em;
        letter-spacing: 0;
        margin-right: 0.6em;
    }
}
@media screen and (max-width: $mdevW){
    .mainmenu {
        //margin-top: 10px;
    }

    .mmitem{
        &:last-child {
            margin-right: 1em;
        }
        a { 
            margin-bottom: 5px;
            &:after {
                padding: 0;
                margin-left: 0;
            }
        }
    }

}
@media screen and (max-width: $sdevW){
   .mmitem{
        font-size: 16px;
        &:last-child {
            margin-right: 0em;
        }
    }

}

.clicker {
    display: none;
}
.p-menu-ico {
    display: block;
    height: 3px;
    background-color: white;
    box-shadow:  0 9px white, 0 18px white;
    &::before {
        display: block;
        content: " ";
        position: absolute;
        top: -0.3em;
        bottom: -.92em;
        left: -0.3em;
        right: -0.3em;
        //border: solid white 2px;
        border-radius: 3px;
    }
}

.scrollout-container {
    display: none;
    position: fixed;
    overflow: hidden;
    height: 100%;
    width: 100%;
    z-index: -1;
    @media screen and (max-width: $sdevW){
        display: block;
        transition: z-index 0.5s step-end;
        .scrollout {
            margin-left: -100%;
            transition: margin 0.4s ease-out;
        }
        &.openned {
            z-index: 10;
            transition: z-index 0.5s step-start;
            background: rgba($mblue, 0.6);
            .scrollout {
                margin-left: 0;
            }
        }
    }
}
.scrollout {
    display: block;
    overflow: auto;
    position: absolute;
    background: $mblue;
    height: 100%;
    width: 80%;
    .mmitem {
        @extend .wtxt;
        font: $mmfont;
        display: block;
        margin: 10px auto;
        width: 90%;
        font-size: 30px;
        text-align: left;
        border-bottom: 1px rgba($mred, 0.8) solid;
    
        a::after {
            display: none;
        }
        &::before {
            content: "\0d7";
            display: inline-block;
            font: 30px WebSymbolsLigaRegular;
        }
    }
    .roster {
        margin-top: 1em;
        text-align: center;
        &.empty, &.nocontacts {
            color: gray;
            &::before {
                display:block;
                content: "l";//"cloudup";
                font: 3em WebSymbolsLigaRegular;
            }
            &::after {
                display:block;
                font: 1.5em "Exo 2", sans-serif;
            }
        }
        &.empty::after {
            content: "Войдите, чтобы увидеть список собеседников.";
        }
        &.nocontacts::after {
            content: "Расскажите друзьям про jabber.ru и добавьте их в свой список контактов!";
        }
    }
}

