@import './css/_fonts.scss';
@import './css/_globals.scss';
@import './css/_mainmenu.scss';
@import './css/_footnlogog.scss';
@import './css/_carousel.scss';
@import './css/_formsninputs.scss';
@import './css/_about.scss';
@import './css/_svcs.scss';
@import './css/_root.scss';
@import './css/_personal.scss';
@import './css/_conferences.scss';
