@import "~normalize-scss/sass/normalize/import-now";

$light-blue: #7199be;
$medium-blue: #53718c;

@font-face {
  font-family: Jura;
  font-style: normal;
  font-weight: normal;
  src: url('../../fonts/Jura-Regular.ttf') format('truetype');
}

body {
  font-family: Jura, 'DejaVu Sans', Arial, Helvetica, sans-serif;
}

.big {
  font-size: xx-large;
}

.row-full {
  grid-column-start: 2;
  grid-column-end: 5;
}

.row-0 {
  grid-column-start: 1;
}

.row-1 {
  grid-column-start: 2;
}

.row-2 {
  grid-column-start: 3;
}

.row-wide {
  grid-column-start: 1;
  grid-column-end: 6;
}

.white {
  background-color: #ffffff;
}

.light-blue {
  background-color: $light-blue;
}

.medium-blue {
  background-color: $medium-blue;
}

.underline {
  text-decoration: underline;
}

.clickable {
  cursor: pointer;
}

@import "../main/Main";
@import "../footer/Footer";
@import "../login/Login";
