.main {
  display: grid;
  grid-template-columns: auto 25% 25% auto;
  grid-template-rows: 60px;
  grid-auto-rows: minmax(100px, auto);
  font-size: x-large;

  text-align: center;

  .intro {
    text-align: center;

    background-color: $light-blue;
    color: #ffffff;
    font-weight: bold;
  }

  .clients {
    background-color: $light-blue;
  }

  .news {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    & > h3 {
      margin-top: 20px;
    }
  }
}
