.footer {
  background-color: $medium-blue;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 9;
  align-content: center;

  display: grid;
  grid-template-columns: repeat(7, 14.3%);
  color: #ffffff;

  .footer-emblem {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .footer-emblem > img {
    width: 400px;
  }

  .services {
    grid-column-start: 4;
    grid-column-end: 7;

    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);

    text-align: left;
    padding-left: 20px;

    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;

      margin-bottom: 20px;
    }

    .footer-menu-column {
      display: flex;
      flex-direction: column;
      font-size: large;

      a, a:link, a:visited {
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}
