.login-root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  .login-title > h3 {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
  }

  .login-row {
    margin-top: 20px;

    button {
      color: #ffffff;
      background-color: $medium-blue;
      width: 40%;
      border-radius: 25px;
    }

    .reset-password {
      color: $medium-blue;
      text-decoration: underline;
    }

    & + .login-info {
      padding-left: 15%;
      padding-right: 15%;
    }
  }

  .login-title > div {
    display: inline-block;
  }

  .left-right-margin {
    margin-left: 15px;
    margin-right: 15px;
  }
}
