.login-root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  .login-title > h3 {
    display: inline;
  }

  .login-row {
    margin-top: 20px;
  }
}
